* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	font-family: "Open Sans", sans-serif;
}

nav {
	padding:0.8rem;
	margin-bottom: 2rem;
	border-bottom: 1px solid gray;
	list-style-type: none;
}

nav .nav, nav .nav-logo {
	margin: 0.5rem;
	display: inline;
}

#intro {
	padding:2rem 10% 3rem 10%;
	text-align:center;
}

#intro h2, #intro p {
	margin-bottom: 1rem;
}

#intro button {
	color: white;
	font-weight: bold;
	background-color: #c2195b;
	border-radius: 25px;
	font-size: 1rem;
	padding: 1rem;
}

#succeed-info {
	padding: 2rem 10% 3rem 10%;
}

#succeed-info h2 {
	margin-bottom: 1rem;
}

#succeed-info h3 {
	text-align: center;
	margin-bottom: 1rem;
}

#succeed-info .card {
	dislpay: inline-block;
	vertical-align: center;
	min-height: 175px;
	width: 30%;
	margin-left: 0.5rem;
	margin-right: 0.5rem;
}

footer {
	padding: 0.7rem;
}

footer span {
	margin-left: 0.5rem;
	margin-right: 0.5rem;
}


}
/*	margin-top:0;
  	margin-bottom:12px;
  	font-weight:bold;
  	font-size:16px;  */

/* #pre-footer .div {
	display: inline-block;
	vertical-align: center;
	padding: 0.7rem;
	margin-left: 0.5rem;
	margin-right: 0.5rem;
	width: 30%;
}*/

#pre-footer h3 {
	margin-bottom: 1rem;
}

#pre-footer .pref {
	display: inline-block;
	color: white;
	background-color: #002540;
	text-align: center;
	width:20%;  
	margin-left: 0.5rem;
	margin-right: 0.5rem;
	padding: 3rem 1.5rem 6rem;
}

#pre-footer {
	background-color: #002540;
}





